/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#777;
    line-height: 1.7;
    padding:30px;
}

.header{
    position: relative;
    height:95vh;
    background-image:linear-gradient(
        to right,
        rgba(127, 213, 112, 0.52),
        rgba(40, 180, 133, 0.52)),
    url(../img/hero.jpg);
    background-size:cover;
    background-position: top;

    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    
}

.logo-box{
   position: absolute;
   top: 40px;
   left:40px;
    
}

.logo{
    height: 35px;
}

.text-box{
    position:absolute;
    top:40%;
    left:50%;
    padding :10px;
     border:5px white solid;
    transform: translate(-50%,-50%);
    text-align: center;
    /* animation: moveInBorder 1s 2s; */
   

}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;

}

.heading-primary-main{
    display: block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 35px;
    animation: moveInLeft 2s ease-out;
    

}
.heading-primary-sub{
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px;
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft{

    0% {
        opacity:0;
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{

    0% {
        opacity:0;
        transform: translateX(+100%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

