@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
MEDIA MANAGER

0 - 600 : PHONE
600 - 900 : TABLET - PORTRAIT
900 - 1200 : TABLET - LANDSCAPE 
1200 - 1800 : DESKTOP - IS WHERE OUR NORMAL STYLE APPLIES
18000 +  : BIG DESKTOPS 
*/

/*
Break-points choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

*/

// ORDER  : Base + typography > general layout  + grid  >  page layout > components


@mixin respond ($breakpoint){
  
  @if $breakpoint == phone {
    @media (max-width:37.5em){@content}; //  600px/16px = 37.5em  -- convert to em .
  }

  @if $breakpoint == tab-port {
    @media (max-width:56.25em){@content}; // 900px
  }

  @if $breakpoint == tab-land {
    @media (max-width:75em){@content}; // 1200px
  }

  @if $breakpoint == big-desktop {
    @media (min-width:112.5em){@content}; // 1800px
  }

}
